{% extends "base.html" %}

{% block title %}
{{course.title}}
{% endblock title %}

{% block content %}
<!-- section -->
<section class="section-sm mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <!-- course thumb -->
        <img src="{{course.banner.url}}" class="img-fluid w-100">
      </div>
    </div>
    <!-- course info -->
    <div class="row align-items-center mb-5 mt-3">
      <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
        <h2> {{course.title}} </h2>
      </div>
      <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-book text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">COURSES</h6>
                <p class="mb-0">{{course.duration_month}} Month</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-alarm-clock text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">DURATION</h6>
                <p class="mb-0">{{course.duration_hours}} Hours</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-wallet text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">FEE</h6>
                <p class="mb-0">From: ${{course.fee}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
        <a href="course-single.html" class="btn btn-primary">Apply now</a>
      </div>
    </div>
    <!-- course details -->
    <div class="row">
      <div class="col-12 mb-4">
        <h3>About Course</h3>
        <p> {{course.description | safe}} </p>
      </div>
      
      <!-- Module Section -->
      <div class="col-12 mb-4">
        <h3 class="mb-3">Modules</h3>
        <div class="accordion" id="modulesAccordion">
          {% for module in modules %}
          <div class="card">
            <div class="card-header" id="heading{{ module.id }}">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ module.id }}" aria-expanded="false" aria-controls="collapse{{ module.id }}">
                  {{ module.title }}
                </button>
              </h5>
            </div>
            <div id="collapse{{ module.id }}" class="collapse" aria-labelledby="heading{{ module.id }}" data-parent="#modulesAccordion">
              <div class="card-body">
                <!-- YouTube Video -->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="youtube-video" 
                  id="youtubeVideo{{ module.id }}" 
                  src="{{ module.get_video_embed_url }}?enablejsapi=1" allowfullscreen>
                  </iframe>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- /section -->

{% endblock content %}
